VITE_SUPABASE_URL=https://xoqckrxygmtpjljfrfar.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_gnnc0XOf2awlhoDdmfyjDg_4gsArftz
VITE_API_BASE_URL=https://bb-jairah-consult-api.anthonycabalo2.workers.dev


# Worker secret (set via wrangler, not in frontend .env)
# GEMINI_API_KEY=your_gemini_api_key
VITE_API_BASE_URL